<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>QUEXA</title>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="/uploads/webstyles1.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="icon" href="/uploads/Images/logo.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom navbar-fixed nav navbar navbar-expand-md navbar-light bg-light border-bottom">
      <a href="/" class="navbar-brand d-flex me-auto me-md-0 link-body-emphasis text-decoration-none">
        <span class="fs-4"><img src="/uploads/Images/logo_bg.png" class="logo" alt="Quexa Logo" /></span>
      </a>

      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav mb-2 mb-md-0 nav nav-pills">
          <li class="nav-item">
            <a href="/" class="nav-link active" style="color:#fff" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="/upload" class="nav-link">Upload</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link" onclick="showFeedbackPopup()">Feedback</a>
          </li>
        </ul>
      </div>
    </header>
  </div>
  <br>
  <div class="form">
    <h1 style="text-align: center">Search</h1>
    <form class="" action="/search" method="post">
      <label for="courseCodeSelect">Course</label>
      <select class="form-control" id="courseCodeSelect" name="courseCode">
        <option value="" disabled selected>Loading...</option>
      </select>
      <br />
      <br />
      <label for="Exam-Type">Exam type</label>
      <select class="form-control" name="examType" required>
        <option value="0">All</option>
        <option value="CAT">CAT</option>
        <option value="CAT 1">CAT 1</option>
        <option value="CAT 2">CAT 2</option>
        <option value="FAT">FAT</option>
        <option value="MODEL FAT">MODEL FAT</option>
      </select>
      <br />
      <label for="slot">Slot</label>
      <select class="form-control" name="slot" required>
        <option value="0">All</option>
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="C1">C1</option>
        <option value="C2">C2</option>
        <option value="D1">D1</option>
        <option value="D2">D2</option>
        <option value="E1">E1</option>
        <option value="E2">E2</option>
        <option value="F1">F1</option>
        <option value="F2">F2</option>
        <option value="G1">G1</option>
        <option value="G2">G2</option>
        <option value="OTHER">Other</option>
      </select>
      <br />

      <label for="year">Year</label>
      <input class="form-control" type="text" name="year" placeholder="Year" pattern="^[0-9]+$"
        title="Please enter only numbers (0-9)" />
      <button type="submit" class="btn btn-primary">Search</button>

    </form>
  </div>

  <%- include("partials/feedback"); -%>

  <script src="/uploads/js/feedback.js"></script>
  <script src="/uploads/js/adjust-padding.js"></script>
  <script src="/uploads/js/coursecodes.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>